---
import NewsLetterForm from "./../vuejs/NewsLetterForm.vue";
import AppLogoLink from "./../atoms/AppLogoLink.astro";

const footerItems = [
  {
    label: "UnifyUI",
    items: [
      {
        text: "UnifyUI",
        href: "https://uno.unify-ui.dev/",
        isExternal: true,
      },
      {
        text: "UnifyUI VueJS",
        href: "#link",
        isExternal: true,
      },
      {
        text: "Flexiwind",
        href: "/",
        isExternal: true,
      },
      {
        text: "Flexiwind Laravel",
        href: "#link",
        isExternal: true,
      },
      {
        text: "Flexiwind React",
        href: "#link",
        isExternal: true,
      },
      {
        text: "Flexilla",
        href: "/",
        isExternal: false,
      },
    ],
  },
  {
    label: "Resources",
    items: [
      {
        text: "Templates",
        href: "#templates",
        isExternal: true,
      },
      {
        text: "Licence",
        href: "",
        isExternal: true,
      },
      {
        text: "Contributing",
        href: "",
        isExternal: true,
      },
      {
        text: "Contact",
        href: "#link",
        isExternal: true,
      },
    ],
  },
  {
    label: "Community",
    items: [
      {
        text: "Github",
        href: "https://github.com/unify-ui-dev/flexilla",
        isExternal: true,
      },
      {
        text: "Twitter",
        href: "#link",
        isExternal: true,
      },
      {
        text: "Discord",
        href: "https://discord.gg/6VN6zTPZAy",
        isExternal: true,
      },
    ],
  },
];

const getSocialIcon = (social: string) => {
  return social === "Github"
    ? "i-fx-github"
    : social === "Discord"
      ? "i-fx-discord"
      : social === "Twitter"
        ? "i-ph-x-logo"
        : "";
};
---

<div
  class="p5 sm-p6 md-p8 lg-p10 rd-xl bg-nm bg-op90 b bdr-nm b-op-60"
>
  <div class="grid grid-cols-2 md-grid-cols-4 gap-x6 gap-y10 md-gap-x10">
    <div class="space-y-6 col-span-2 lg-col-span-1">
      <AppLogoLink />
      <div class="space-y-3">
        <p class="text-sm text-sub-body">
          Subsribe to our news-letter
        </p>
        <NewsLetterForm client:load />
      </div>
    </div>
    {
      footerItems.map((footerItem) =>
        footerItem.label === "Community" ? (
          <div class="space-y-6">
            <h2 class="text-title font-semibold">
              {footerItem.label}
            </h2>
            <ul class="text-sub-body text-sm gap2 lg-gap3 flex flex-wrap lg-flex-col -mx2.5 lg-mx0">
              {footerItem.items.map((item) => (
                <li>
                  <a
                    href={item.href}
                    aria-label={`Link to ${item.text}`}
                    rel="noopener noreferrer"
                    target="_blank"
                    class={`
                        ease-linear duration-200 lg-transition-color hover-text-title
                        rd-lg lg-rd-0 transition flex hover-bg-gray2/90 dark-hover-bg-gray9/90 p2.5 lg-p0 lg-hover-bg-transparent lg-dark-hover-bg-transparent
                        `}
                  >
                    <span class="hidden lg-flex">{item.text}</span>
                    <span aria-hidden="true" class="flex lg-hidden">
                      <span
                        class={`${getSocialIcon(item.text)} flex text-xl`}
                      />
                    </span>
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ) : (
          <div class="space-y-6">
            <h2 class="text-title font-semibold">
              {footerItem.label}
            </h2>
            <ul class="text-sub-body text-sm space-y-3">
              {footerItem.items.map((item) => (
                <li>
                  {item.isExternal ? (
                    <a
                      href={item.href}
                      aria-label={`Link to ${item.text}`}
                      rel="noopener noreferrer"
                      target="_blank"
                      class="ease-linear transition-color hover-text-title"
                    >
                      {item.text}
                    </a>
                  ) : (
                    <a
                      href={item.href}
                      aria-label={`Link to ${item.text}`}
                      class="ease-linear transition-color hover-text-title"
                    >
                      {item.text}
                    </a>
                  )}
                </li>
              ))}
            </ul>
          </div>
        )
      )
    }
  </div>
  <div
    class="text-center b-t b-t-gray2/90 dark-b-t-gray8/60 pt6 mt6 text-sub-body text-sm"
  >
    <p>
      &copy; 2023-{new Date().getFullYear()}
      <a
        href="https://unifyui-dev.vercel.app"
        aria-label="Link to UnifyUIDev Website"
        target="_blank"
        class="text-title font-medium underline underline-offset-4"
        >UnifyUI Dev</a
      >. All rights reserved. Made With Love In DRC
    </p>
  </div>
</div>
