---
import { splitSlugUrl } from "@helper/string-helper";
import { getCollection } from "astro:content";
import DocLayout from "@layouts/DocsLayout.astro";
import { getPagger } from "@assets/js/pager";
import LinkNavControl from "@components/docs/ui/LinkNavControl.astro";
import { components } from "@components/docs/MdxComponents.astro";
import UiLink from "@components/atoms/UiLink.astro";
import { contribUrl, repoContentLocation } from "@/const/index";
import BoxTableOfContent from "@components/docs/ui/BoxTableOfContent.astro";
import DocPageHeader from "@components/docs/DocPageHeader.astro";

export async function getStaticPaths() {
  const docs = await getCollection("docs");
  return docs.map((doc) => ({
    params: { slug: doc.slug },
    props: { doc_content: doc },
  }));
}

const { doc_content } = Astro.props;

const {
  slug,
  data: { title, description, links},
  id
} = doc_content;

const { Content, headings } = await doc_content.render();


const {
  next: nextSlug,
  prev: prevSlug,
  current,
} = getPagger({ slug: slug, name: "getting-started", baseUrl: "docs" });

const words = splitSlugUrl(slug);
---

<DocLayout
  activeGroup="getting-started"
  activeItem={`/docs/${slug}`}
  headings={headings}
  title={`UnifyUI - ${current.title}`}
  description={`${current.description}`}
  keywords={current.keywords}
>
  <article  data-pagefind-body class="px4 sm-px8 xl-px16 grid text-body h-max">
    <DocPageHeader title={title} subTitle={description} links={links} breadcrumbsMain={{ href: "/docs", text: "Docs" }} breadcrumbsWords={words}/>
    <div data-doc-content class="py10 wfull grid">
      <Content components={{ ...components }} />
    </div>
    <div>
      <UiLink href={`${repoContentLocation}/docs/${id}`} aria-label="edit this page on github" class="wmax flex items-center gap-x-2 underline underline-dashed underline-offset-3 hover-text-title">
        <span aria-hidden="true" class="flex i-ph-pencil-simple-line"/>
        Edit this page
      </UiLink>
    </div>

    <div class="flex wfull hpx my8 b-b bdr_b-nm"></div>
    <div data-pagefind-ignore class="flex flex-col sm-flex-row w-full justify-between gap-4">
      <div class="flex-1">
        {
          prevSlug ? (
            <LinkNavControl
              text={prevSlug.title}
              href={prevSlug.slug}
              type="prev"
            />
          ) : null
        }
      </div>

      <div class="flex-1">
        {
          nextSlug ? (
            <LinkNavControl
              text={nextSlug.title}
              href={nextSlug.slug}
              type="next"
            />
          ) : null
        }
      </div>
    </div>
  </article>
  <BoxTableOfContent headings={headings} fileName={`/docs/${id}`}  contribUrl={contribUrl} />
</DocLayout>
