---
import "@assets/css/scrollbar.css";
import "@assets/css/doc-styles.css";
import Sidebar from "@components/docs/base/Sidebar.astro";
import Base from "./Base.astro";
import DocNavbar from "@components/docs/ui/DocsNavbar.astro";
import type { MarkdownHeading } from "astro";
import type { SeoType } from "../types";
import { defaultOgImage, defaultOgAlt, keywordsDef } from "../const";
import DocsFooter from "@components/docs/ui/DocsFooter.astro";
import TopDocsNav from "@components/docs/base/TopDocsNav.astro";

type Props = {
  activeGroup: string;
  activeItem: string;
  description?: string;
  headings: MarkdownHeading[];
  keywords?: string;
  title: string;
  hideTableOfContent?: boolean;
  ogImage?: {
    src: string;
    alt: string;
  };
};

const { activeGroup, activeItem } = Astro.props;

const { title, keywords, ogImage, description, hideTableOfContent } =
  Astro.props;

const seo: SeoType = {
  ogImage: {
    src: ogImage?.src || defaultOgImage,
    alt: ogImage?.alt || defaultOgAlt,
  },
  keywords: `${keywordsDef} ${keywords ? `, ${keywords}` : ""}`,
  title: title,
  description: description
    ? description
    : "Easily add interactive Components to your App.",
};
---

<Base seo={seo}>
  <DocNavbar />
  <div
    class="max-w7xl grid mx-auto lg-grid-cols-[13rem_minmax(0,1fr)] lg-pl8 xl-pr8"
  >
    <Sidebar activeGroup={activeGroup} activeItem={activeItem} />
    <div class="grid relative">
      <TopDocsNav hideTableOfContent={hideTableOfContent} />
      <main class="grid xl-grid-cols-[1fr_11rem] mb20">
        <slot />
      </main>
      <DocsFooter />
    </div>
  </div>
  <slot name="modalZone" />
  <script>
    import { initdDocsScript } from "@assets/js/doc-script";
    import { initScrollbar } from "@assets/js/scrollbar";

    const initMainScript = () => {
      initScrollbar();
      initdDocsScript();
    };
    initMainScript()
    document.addEventListener("astro:after-swap", initMainScript);
  </script>
</Base>
