---
import dynamic from "astro:import";

import { allComponentCode } from "@components/registry/allCode";
import TabsViewCode from "../ui/TabsViewCode.astro";
import CodeViewBox from "../ui/CodeViewBox.astro";
import DocsTab from "./DocsTab.astro";
import TabPanel from "./TabPanel.astro";

type Props = {
    name: string | string[];
    notInTabs?: boolean;
    props?: any;
};

const { name, notInTabs, props = {} } = Astro.props;

const getValue = (name_: string) => allComponentCode[name_];

const getTabValues = (name_: string[]) =>
    name_.map((name) => allComponentCode[name]);

const correctName = typeof name === "string" ? name : name[0];
const toImport = `components/registry/${correctName}.astro`;
const Component = await dynamic(toImport);
---

{
    typeof name === "string" ? (
        notInTabs ? (
            <>
                <div
                    data-pagefind-ignore
                    class="b bdr-high rd-lg p1.5 md-p10 bg-body justify-center min-h-max my5 first-mt0"
                >
                    <Component {...props} />
                </div>
                <CodeViewBox
                    code={getValue(name).code}
                    lang={getValue(name).lang}
                />
            </>
        ) : (
            <DocsTab values={["Preview", "Code"]} data-pagefind-ignore>
                <TabPanel
                    value="Preview"
                    class="b bdr-high rd-lg p1.5 md-p10 bg-body items-center justify-center min-h56 sm-min-h60 lg-min-h80"
                    active
                >
                    <Component {...props} />
                </TabPanel>
                <TabPanel value="Code">
                    <CodeViewBox
                        code={getValue(name).code}
                        lang={getValue(name).lang}
                    />
                </TabPanel>
            </DocsTab>
        )
    ) : (
        <TabsViewCode data={getTabValues(name)}>
            <div
                data-pagefind-ignore
                class="b bdr-high rd-lg p1.5 md-p10 bg-body items-center justify-center min-h-max my5 first-mt0"
            >
                <Component {...props} />
            </div>
        </TabsViewCode>
    )
}
