---
import {
  repoContentLocation,
  repositoryUrl,
  startDiscussion,
} from "@/const/index";

type Props = {
  fileName: string;
  contribLink: string;
  starsUrl?: string;
  discussionLink?: string;
};

const {
  fileName: fileName,
  contribLink,
  starsUrl,
  discussionLink,
} = Astro.props;

const contribLinks = [
  {
    href: `${contribLink}`,
    text: "Contributing",
    icon: "i-ph-chats-circle",
  },
  {
    href: `${repoContentLocation}${fileName}`,
    text: "Edit this page",
    icon: "i-ph-pencil-simple-line",
  },
  {
    href: `${starsUrl || repositoryUrl}`,
    text: "Star On github",
    icon: "i-ph-star",
  },
];
---

<div class="mb2 pt-3 b-t bdr_t-high b-dashed">
  <h2 class="text-sm font-semibold hidden lg-flex text-sub-title">Community</h2>
  <nav aria-label="Contribute Links" class="mt-3">
    <ol class="flex flex-col space-y-2 text-sub-body text-sm">
      {
        contribLinks.map((link) => (
          <li class="flex">
            <a
              href={`${link.href}`}
              target="_blank"
              rel="noopener noreferrer"
              aria-label={`Link to ${link.text}`}
              class="flex items-center gap-x2 justify-between hover-text-title ease-linear duration-200"
            >
              <span class="flex items-center gap-x2">
                <span aria-hidden="true" class={`flex ${link.icon}`} />
                {link.text}
              </span>
              <span
                aria-hidden="true"
                class="flex i-ph-arrow-square-out text-13px"
              />
            </a>
          </li>
        ))
      }
    </ol>
    <a
      href={discussionLink || startDiscussion}
      aria-label="Start a discussion"
      target="_blank"
      rel="noopener noreferrer"
      class="mt3 wmax flex items-center justify-center btn btn-sm rd-lg btn-white"
    >
      Start a discussion
    </a>
  </nav>
</div>
